section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    section {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }
}