body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/public/bg.jpeg'); /* Add the background image path here */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #534741; /* Dark brown for better contrast on mixed white and brown background */
}

@media (max-width: 768px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 1%; /* Adjust padding for smaller screens */
  }
}



